<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trophée NSI - Recherche d'Œuvres d'Art</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://trophees-nsi.fr/favicon-32x32.png">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div class="wrapper" style="flex: 1;">
        <header>
            <h1>🎨 Recherche d'Œuvres d'Art</h1>
        </header>

        <form class="uploadForm" enctype="multipart/form-data" action="/art" method="POST">
            <div class="upload-card">

                <div class="upload-row">
                    <label for="fileInput" class="upload-label">📁 Choisir une image</label>
                    <div class="threshold-inline">
                        <label for="threshold">Seuil (0-20) :</label>
                        <input type="number" id="threshold" name="threshold" value="5" min="0" max="20">
                        <span class="info-icon">
                            <img src="../static/media/info_icon.png" class="info-img">
                            <span class="seuil-info">
                                Régler la tolérance de la recherche d'œuvres similaires
                                (valeurs recommandées : 0 à 20).
                                Un seuil faible recherche des copies très proches, un seuil élevé élargit la recherche.
                            </span>
                        </span>
                    </div>
                </div>

                <input type="file" id="fileInput" name="image" accept="image/*" required>
                <p id="fileName">Aucun fichier sélectionné</p>

                <div id="previewContainer">
                    <img id="imagePreview" src="#" alt="Aperçu de l'image" style="display: none;">
                </div>

                <button type="submit">🔍 Rechercher</button>
            </div>
        </form>

        <div class="download-app">
            <a href="static/app/revers-art-app.zip" class="btn-download" download>
                💾 Télécharger la version App
            </a>
        </div>
    </div>
    <footer>
        <p>
            <a href="https://github.com/Nnova13/2025_1093_revers-art" target="_blank">GitHub</a> | 📜 GNU GENERAL PUBLIC LICENSE
        </p>
    </footer>
</body>
</html>